{% extends "base_template.html" %}
    {% load crispy_forms_tags %}

  {% block content%}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{form|crispy}}
    <br>
    <button class="button" type="submit">Login</button>
  </form>
  {% endblock %}