{% extends "base_template.html" %}
    {% block content %}
    {% load static %}

<!---Berita Korona -->
<h1 style="margin-top: 40px;">Berita Hari Ini</h1>

<div class="row">

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <img class="card-imd-top" src="../../static/home/virus-corona_200416143238-709.jpg" width="100%"><p></p> 
          <hr>
          <h5 class="card-title">Harga masker kembali normal</h5>
          <p class="card-text">13 November 2020</p>
          <a href="#"><h5 class="card-text" style="color: #EB5757; float: right;">Lihat</h5></a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img class="card-imd-top" src="../../static/home/virus-corona_200416143238-709.jpg" width="100%"><p></p>   
            <hr>
            <h5 class="card-title">83 Karyawan BJB Positif Corona, Kantor 'Lockdown'</h5>
            <p class="card-text">13 November 2020</p>
            <a href="#"><h5 class="card-text" style="color: #EB5757; float: right;">Lihat</h5></a>
          </div>
        </div>
      </div>

    <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img class="card-imd-top" src="../../static/home/virus-corona_200416143238-709.jpg" width="100%"><p></p>
            <hr>   
            <h5 class="card-title">Pasien Covid-19 RI Hari Ini Tambah 4.173 Orang</h5>
            <p class="card-text">13 November 2020</p>
            <a href="#"><h5 class="card-text" style="color: #EB5757; float: right;">Lihat</h5></a>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img class="card-imd-top" src="../../static/home/virus-corona_200416143238-709.jpg" width="100%"><p></p>  
            <hr> 
            <h5 class="card-title">103 Kasus , Lampung Catat Lonjakan Corona Tertinggi</h5>
            <p class="card-text">13 November 2020</p>
            <a href="#"><h5 class="card-text" style="color: #EB5757; float: right;">Lihat</h5></a>
          </div>
        </div>
      </div>
  </div>

  <div class="row">

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <img class="card-imd-top" src="../../static/home/virus-corona_200416143238-709.jpg" width="100%"><p></p> 
          <hr>
          <h5 class="card-title">Harga masker kembali normal</h5>
          <p class="card-text">13 November 2020</p>
          <a href="#"><h5 class="card-text" style="color: #EB5757; float: right;">Lihat</h5></a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img class="card-imd-top" src="../../static/home/virus-corona_200416143238-709.jpg" width="100%"><p></p>   
            <hr>
            <h5 class="card-title">83 Karyawan BJB Positif Corona, Kantor 'Lockdown'</h5>
            <p class="card-text">13 November 2020</p>
            <a href="#"><h5 class="card-text" style="color: #EB5757; float: right;">Lihat</h5></a>
          </div>
        </div>
      </div>

    <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img class="card-imd-top" src="../../static/home/virus-corona_200416143238-709.jpg" width="100%"><p></p>
            <hr>   
            <h5 class="card-title">Pasien Covid-19 RI Hari Ini Tambah 4.173 Orang</h5>
            <p class="card-text">13 November 2020</p>
            <a href="#"><h5 class="card-text" style="color: #EB5757; float: right;">Lihat</h5></a>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img class="card-imd-top" src="../../static/home/virus-corona_200416143238-709.jpg" width="100%"><p></p>  
            <hr> 
            <h5 class="card-title">103 Kasus , Lampung Catat Lonjakan Corona Tertinggi</h5>
            <p class="card-text">13 November 2020</p>
            <a href="#"><h5 class="card-text" style="color: #EB5757; float: right;">Lihat</h5></a>
          </div>
        </div>
      </div>
  </div>
  
<div class="row">

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <img class="card-imd-top" src="../../static/home/virus-corona_200416143238-709.jpg" width="100%"><p></p> 
          <hr>
          <h5 class="card-title">Harga masker kembali normal</h5>
          <p class="card-text">13 November 2020</p>
          <a href="#"><h5 class="card-text" style="color: #EB5757; float: right;">Lihat</h5></a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img class="card-imd-top" src="../../static/home/virus-corona_200416143238-709.jpg" width="100%"><p></p>   
            <hr>
            <h5 class="card-title">83 Karyawan BJB Positif Corona, Kantor 'Lockdown'</h5>
            <p class="card-text">13 November 2020</p>
            <a href="#"><h5 class="card-text" style="color: #EB5757; float: right;">Lihat</h5></a>
          </div>
        </div>
      </div>

    <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img class="card-imd-top" src="../../static/home/virus-corona_200416143238-709.jpg" width="100%"><p></p>
            <hr>   
            <h5 class="card-title">Pasien Covid-19 RI Hari Ini Tambah 4.173 Orang</h5>
            <p class="card-text">13 November 2020</p>
            <a href="#"><h5 class="card-text" style="color: #EB5757; float: right;">Lihat</h5></a>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img class="card-imd-top" src="../../static/home/virus-corona_200416143238-709.jpg" width="100%"><p></p>  
            <hr> 
            <h5 class="card-title">103 Kasus , Lampung Catat Lonjakan Corona Tertinggi</h5>
            <p class="card-text">13 November 2020</p>
            <a href="#"><h5 class="card-text" style="color: #EB5757; float: right;">Lihat</h5></a>
          </div>
        </div>
      </div>
  </div>

<!---Jumbotron -->
<div class="jumbotron jumbotron-fluid" style="margin-top: 40px; background-color: #EB5757; color: white;">
    <div class="container">
        <p class="lead" style="float: left;";><b>Ingin terus update dengan berita terbaru mengenai virus Corona</b></p>
        <a href="{% url 'landingpage:register' %}" class="btn btn-primary" style="float: right;" target="_blank">Klik untuk Berlangganan</a>
    </div>
</div> 

{% endblock %}