{% extends "base_template.html" %}
{% block content %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    
<center>
    
    <div class="d-flex justify-content-center h-100">
    <div class="user_card">
        <div class="d-flex justify-content-center">


    <h3 id="form-title">MASUK</h3>
        </div>
        <div class="d-flex justify-content-center form_container">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" name="username" placeholder="Nama..." class="form-control">
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                        <input type="password" name="password" placeholder="Password..." class="form-control" >
                </div>

                    <div class="d-flex justify-content-center mt-3 login_container">
                         <input class="btn login_btn" type="submit" value="login">
                       </div>
            </form>

        </div>
        
        {% for message in messages %}
            <p id=messages> {{message}} </p>
        {% endfor %}
        
        <div class="mt-4">
            <div class="d-flex justify-content-center links">
                Belum memiliki akun? <a href="{% url 'landingpage:register' %}" class="ml-2">Daftar</a>
            </div>
    
        </div>
    </div>
</div>	

</center>


{% endblock %}