{% extends "base_template.html" %}

  {% block content%}
  <script>
    function openNav() {
      document.getElementById("sidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }  
    function closeNav() {
      document.getElementById("sidebar").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
    }
  </script>

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src = "https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

  <script src="/static/js/login.js"></script>
  <link rel="stylesheet" href="/static/css/styleBarli.css">

  <div id="sidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="{% url 'covidResearch:Home'%}">Penelitian</a>
      <a href="{% url 'covidResearch:Upload'%}" id="login">Unggah Penelitian</a>
      <a href="{% url 'covidResearch:Search'%}">Mencari Penelitian</a>
      <div id="#logged_user">Current User : {{ request.user }}</div>
  </div>
  
  <div id="main">
    <button class="openbtn" onclick="openNav()">&#9776;Sidebar</button>
    <div class="container" style="margin-top: 20px;">
      {% block body %}
      {% endblock %}
    </div>
  </div>
  {% endblock %}