{% extends "base_research.html" %}
    {% load tz %}
    {% block title%} Penelitian {% endblock%}

    {% block body %}

    <!-- News attr : pk, title, author, date_published, desc, shortDesc, newsImg -->
    {% if News %}
    {% for New in News%}
    <div class="articles">
        <div class="articles-img">
            <a style="color: inherit;"href= "{% url 'covidResearch:DetailNews' New.pk %}">
                {% if New.image.first %}
                <img src='{{New.image.first.image.url}}' class="thumbnail"></a>
                {% endif %}            
        </div>
        <div class="articles-desc">
            <div class="articles-desc title">
                <div style="font-weight: bold;">
                    <a style="color: inherit;" href= "{% url 'covidResearch:DetailNews' New.pk %}">{{New.title}}</a>                    
                </div>
                <div>
                    {% localtime on %}
                    {{New.date_published}}
                    {% endlocaltime %}
                </div>
            </div>
            <div class="articles-desc fill">                
                <div>
                    Penulis : {{New.author}}
                </div>
                <div>
                    Deskripsi :
                    <br>
                    {{New.shortDesc}}
                </div>
            </div>
        </div>       
    </div>
    {% endfor%}
    {% endif %}

    <!-- API News -->
    <!-- API News attr : status, totalResults, articles: source, author, title, description, url, urlToImage, content-->
    <div>
        Other site related news
    </div>
    
    {% if apiNews %}
    {% for New in apiNews.articles %}
    <div class="articles">
        <div class="articles-img">
            <a style="color: inherit;"href= "{% url 'New.url' %}">
                {% if New.image.first %}
                <img src='{{New.articles.urlToImage}}' class="img-fluid img-thumbnail"></a>
                {% endif %}            
        </div>
        <div class="articles-desc">
            <div class="articles-desc title">
                <div style="font-weight: bold;">
                    <a style="color: inherit;"href= "{% url 'New.url' New.url %}">{{New.title}}</a>                    
                </div>
                <div>
                    {% localtime on %}
                    {{New.date_published}}
                    {% endlocaltime %}
                </div>
            </div>
            <div class="articles-desc fill">                
                <div>
                    Penulis : {{New.author}}
                </div>
                <div>
                    Deskripsi :
                    <br>
                    {{New.description}}
                </div>
            </div>
        </div>       
    </div>
    {% endfor%}
    {% endif %}
    
    {% endblock %}