{% extends "base_research.html" %}
    {% load crispy_forms_tags %}
    {% load tz %}
    {% block title%} Mencari Penelitian {% endblock%}

    {% block body %}
    <script src="/static/js/search_research.js"></script>

    <div class="articles" style="flex-direction: column">
        Mencari keywords dalam judul, penulis, dan deksripsi singkat
        <form id="searchForm" method="GET" action="{% url 'covidResearch:Result' %}" enctype="multipart/form-data">
            {{SearchForm|crispy}}
        </form>
    </div>

    <!-- Database Articles First then API Articles -->
    <!-- News attr : newsId, title, author, date_published, desc, shortDesc, newsImg -->

    <table class="table" id="db_search_result">
        <thead>
          <tr>
            <th scope="col">Thumbnail</th>
            <th scope="col">Judul</th>
            <th scope="col">Penulis</th>
            <th scope="col">Deskripsi</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody>
            <!-- Data will be here -->
        </tbody>
    </table>

    <!-- API News -->
    <div>
        Other site related news
    </div>
    <table class="table" id="api_search_result">
        <thead>
          <tr>
            <th scope="col">Thumbnail</th>
            <th scope="col">Judul</th>
            <th scope="col">Penulis</th>
            <th scope="col">Deskripsi</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody>
            <!-- Data will be here -->
        </tbody>
    </table>
    {% endblock %}
