{% extends "base_research.html" %}
    {% load crispy_forms_tags %}

    {% block body %}
    <div>
        <form id="uploadForm" action="{% url 'covidResearch:Upload' %}"method="POST" enctype="multipart/form-data"> 
            {% csrf_token %} 
            {{Form|crispy}}
            Gambar/Foto pertama akan dijadikan thumbnail
            <br>
            Max Gambar/Foto = 5
            {{ImageSet|crispy}}
            <br>
            <button class="btn btn-link btn-lg" type="button" style="background-color: #EB5757; color:white" onclick="uploadForm.submit()">Upload</button>
        </form>
    </div>

    {% endblock %}

