{% extends 'base_template.html' %}
{% load static %}
<!doctype html>
<html lang="en">
{% block head %}
  

  <link rel="stylesheet" href="{% static 'css\style.css' %}">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script src="{% static 'js\javascript.js' %}" type="text/javascript"></script>
  
  
{% endblock %}

{% block content %}

<script>
  $(document).ready(function(){
      var header = '<thead class="thead-dark"> <tr><th>Penulis</th><th>Judul</th><th>Deskripsi</th><th>Tanggal</th></tr> </thead>'
      $.ajax({
          url: "{%  url 'fungsidata' %}",
          success: function(data){
              var array_items = data.articles;
              $("#tabel").append(header)
              for(i = 0; i < array_items.length - 1; i++) {
                  var penulis = array_items[i].author;
                  var judul = array_items[i].title;
                  var deskripsi = array_items[i].description;
                  var tanggal = array_items[i].publishedAt;
                  $("#tabel").append("<tr><td> " + penulis + "</td><td>" + judul + "</td><td>" + 
                      deskripsi + "</td><td>" + tanggal + "</td></tr>");
              }
          }
      });
  });
</script>

<script>
function myFunction() {
document.getElementById("tabel").style.color = "blue";
}
</script>

<script>
function myFunctionKey() {
document.getElementById("tabel").style.color = "black";
}
</script>




<table  class="table" id="tabel" onclick="myFunction()">   
</table>

<input type="text" placeholder="Ketik sesuatu untuk reset warna" style="width: 270px;" onkeypress="myFunctionKey()">

<br><br><br>
          <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarUtama">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" style="padding:40px" href="{% url 'webpage1' %}">Welcome</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="padding:40px" href="{% url 'webpage2' %}">Tambah Berita</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="padding:40px" href="{% url 'webpage5' %}">Lihat Belum Detail</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="padding:40px" href="{% url 'webpage4' %}">Lihat Keseluruhan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="padding:40px" href="{% url 'webpage6' %}">Lihat API</a>
                </li>
              </ul>
            </div>
            </div>  
          </nav>
{% endblock %}
