{% extends 'base_template.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
<link rel="stylesheet" href="{% static 'css\style.css' %}">

<h1>
    Delete Berita Dampak
</h1>
<div class="container">
			<p>Apakah anda yakin ingin menghapus berita dengan judul "{{dampak}}"?</p>

			<form action="{% url 'delete_berita' dampak.id  %}" method="POST">
				
                {% csrf_token %}
                <div class="text-center">
                    <input  style="font-size: 15px" type="submit" class="btn btn-danger" value="Hapus">
                    <a style="font-size: 15px" class="btn btn-warning" href="{% url 'webpage5' %}">Batal</a>
                </div>
				
			</form>	
</div>
{% endblock %}