{% extends 'base_template.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
<link rel="stylesheet" href="{% static 'css\style.css' %}">


<h1>
  Update Berita Dampak
</h1>
<div class="col">
	<form action="" method="POST">
        <table class="table">
            {% csrf_token %}
            <thead class="thead-dark">
              <tr>
                <th scope="row">Keterangan</th>
                <th scope="row">Yang mau diupdate</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {{form}}
              </tr>
            </table>
            <div class="text-center">
              <input  style="font-size: 15px" type="submit" class="btn btn-info" value="Update">
              <a class="btn btn-warning" style="font-size: 15px" href="{% url 'webpage5' %}">Batal</a>
            </div>
        
			</form>

		
	
</div>


{% endblock %}