{% extends 'base_template.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
<link rel="stylesheet" href="{% static 'css\style.css' %}">



<div class="col">
          
          <h1>
            Lihat Berita Dampak
        </h1>
        <p>
            Berita dampak yang tersedia di database kami
        </p>
        
        <table class="table">
            {% csrf_token %}
            <thead class="thead-dark">
              <tr>
                <th scope="col">Judul Berita</th>
                <th scope="col">Nama Penulis</th>
                <th scope="col">Isi Berita</th>
                <th scope="col">Update Berita</th>
                <th scope="col">Delete Berita</th>
              </tr>
            </thead>
            <tbody>
                {% for i in dampak %}
                  <tr>
                    <td>
                      {{i.nama_berita}}
                    </td>
                    <td>
                      {{i.nama_penulis}}
                    </td>
                    <td>
                      {{i.isi_berita}}
                    </td>
                    <td><a class="btn btn-sm btn-info" style="font-size: 13px" href="{% url 'update_berita' i.id %}">Update</a></td>
                    <td><a class="btn btn-sm btn-danger" style="font-size: 13px" href="{% url 'delete_berita' i.id %}">Delete</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="text-center">
              <a class="btn btn-sm btn-success" style="font-size: 15px" href="{% url 'webpage5'%}">Mundur</a>
            </div>
 </div>

 <br><br><br>
 <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <div class="container">
      <div class="collapse navbar-collapse" id="navbarUtama">
      <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" style="padding:40px" href="{% url 'webpage1' %}">Welcome</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="padding:40px" href="{% url 'webpage2' %}">Tambah Berita</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="padding:40px" href="{% url 'webpage5' %}">Lihat Belum Detail</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="padding:40px" href="{% url 'webpage4' %}">Lihat Keseluruhan</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" style="padding:40px" href="{% url 'webpage6' %}">Lihat API</a>
      </li>
    </ul>
  </div>
  </div>  
</nav>


{% endblock %}