{% extends 'base_template.html' %}
{% block content %}
{% load static %} 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
<link rel="stylesheet" href="{% static 'css\style.css' %}">
    
<div class="jumbotron bg-transparent">
  <div class="container"></div>
    <h1>Assalamualaikum<br>Perkenalkan nama saya 
      Muhammad Ravi
      <br>Selamat datang di website "Dampak "saya &#128512</h1>
      <br>

      {% if user.is_authenticated %}

      <p> Selamat datang {{ request.user.username }}! </p>
      
      {% else %}

      <p> Selamat datang kawan! </p>
      
      {% endif %}

      {% for message in messages %}
        <script>alert("{{ message }}")</script>
      {% endfor %}

      
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarUtama">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" style="padding:40px" href="{% url 'webpage1' %}">Welcome</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="padding:40px" href="{% url 'webpage2' %}">Tambah Berita</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="padding:40px" href="{% url 'webpage5' %}">Lihat Belum Detail</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="padding:40px" href="{% url 'webpage4' %}">Lihat Keseluruhan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="padding:40px" href="{% url 'webpage6' %}">Lihat API</a>
            </li>
          </ul>
        </div>
        </div>  
      </nav>
  </div>

  
    {% endblock %}
