{% extends 'base_template.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
<link rel="stylesheet" href="{% static 'css\style.css' %}">

   
        <div class="container">
            <h1>
                Tambah Berita Dampak
            </h1>
        </div>
        <form action="{% url 'tambahSubmisi'%}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label style="font-size: 18px" for="exampleFormControlInput1">Judul Berita</label>
              <input style="font-size: 18px" name="nama_berita" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Judul Singkat Berita">
            </div>
            <div class="form-group">
                <label style="font-size: 18px" for="exampleFormControlInput1">Nama Penulis</label>
                <input style="font-size: 18px" name="nama_penulis" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nama Penulis Berita">
              </div>
            <div class="form-group">
              <label style="font-size: 18px" for="exampleFormControlTextarea1">Isi Berita</label>
              <textarea style="font-size: 18px" name="isi_berita" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <input id="submit" type="submit" style="font-size: 18px" class="btn btn-lg btn-block btn-info" value="Tambah">
          </form>

          
            
          

          <br><br><br>
          <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarUtama">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" style="padding:40px" href="{% url 'webpage1' %}">Welcome</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="padding:40px" href="{% url 'webpage2' %}">Tambah Berita</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="padding:40px" href="{% url 'webpage5' %}">Lihat Belum Detail</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="padding:40px" href="{% url 'webpage4' %}">Lihat Keseluruhan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="padding:40px" href="{% url 'webpage6' %}">Lihat API</a>
                </li>
              </ul>
            </div>
            </div>  
          </nav>
          
    
{% endblock %}